<div class="content">
    <div class="login">
        <div class="col-md-4 offset-md-4">
            <img src="https://www.aushidhi.org/images/login-img.png" />
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <label class="text-left" for="exampleInputEmail1">Email address</label>
                <div class="form-group input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                    </div>
                    <input [style.color]="color_valid ? 'black' : 'red' " ng-style=" " type="email" class="form-control"
                        formControlName="email" id="email" aria-describedby="emailHelp" placeholder="Email">
                </div>

                <label class="text-left" for="exampleInputPassword1">Password</label>
                <div class="form-group input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-unlock-alt"></i></span>
                    </div>
                    <input [style.color]="color_valid ? 'black' : 'red' " type="password" class="form-control"
                        formControlName="password" placeholder="Password" aria-label="Username"
                        aria-describedby="basic-addon1" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary btn-login">LOGIN</button>
            </form>

        </div>
    </div>
</div>
<style>
    .content {
        position: absolute;
        background-color: #222831;
        width: 100%;
        height: 100%;
        padding-top: 10%;
    }

    .error {
        color: #00adb5;
    }

    .btn-login {
        background-color: #00adb5;
        width: 100%;
        margin-top: 25px;
    }

    label,
    h2 {
        color: #00adb5;
    }

    form {
        width: 70%;
    }

    .group {
        display: flex;
        align-items: center;
    }

    img {
        display: block;
        
        margin-left: 10%;
    }
</style>