<div class="container">
    <div class="row" style="margin-top: 3vw;">
        <h2 class="col-md-2">Usuarios</h2>
        <button type="button" class="btn" [routerLink]="['/user']">
            Regresar
        </button>

        <button (click)="singOut()" type="button" class="btn offset-md-7">
            Cerrar sesion
        </button>
    </div>

    <div class="row">
        <div class="card">
            <img class="card-img-top" src="{{userData.avatar}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{userData.first_name}} {{userData.last_name}}</h5>
                <p class="card-text">{{userData.email}}</p>
            </div>
        </div>
    </div>

</div>

<style>
    .btn {
        background-color: #00adb5;
        color: #eeeeee;
    }
    .card {
    width: 15rem;
    background: #393e46;
    color: #eeeeee;
    margin: auto;
    margin-top: 5rem;
  }
</style>